%h2.account-head Sign Up
.account-box
  = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
    = devise_error_messages!
    .field
      = f.label :name, value: "名前"
      %br/
      = f.text_field :name
    .field
      = f.label :email, value: "メールアドレス"
      %br/
      = f.email_field :email, autofocus: true, autocomplete: "email"
    .field
      = f.label :password, value: "パスワード"
      - if @minimum_password_length
        %em
          (#{@minimum_password_length} 文字以上)
      %br/
      = f.password_field :password, autocomplete: "new-password"
    .field
      = f.label :password_confirmation, value: "パスワード(確認)"
      %br/
      = f.password_field :password_confirmation, autocomplete: "new-password"
    = button_tag class: "button" do
      アカウント作成
