%h2.account-head Log in
.account-box
  = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
    .field
      = f.label :email, value: "メールアドレス"
      %br/
      = f.email_field :email, autofocus: true, autocomplete: "email"
    .field
      = f.label :password, value: "パスワード"
      %br/
      = f.password_field :password, autocomplete: "current-password"
    = button_tag class: "button" do
      ログイン
%p.for_account_foot
  = link_to new_user_registration_path do
    アカウントを作る
