.col.s12.m7
  .card.horizontal
    .card-image
      - if @posts.image.blank?
        = image_tag "sample"
      - else
        = image_tag "#{@posts.image}"
    .card-stacked
      .card-content
        %p= @posts.title
        %hr
        %p= @posts.body
      .card-action
        %ul
          - if user_signed_in? && current_user.id == @posts.user_id
            %li
              = link_to "/posts/#{@posts.id}", method: :delete do
                %i.material-icons delete_forever
            %li
              = link_to "/posts/#{@posts.id}/edit" do
                %i.material-icons mode_edit
          %li
            = link_to "/posts/#{@posts.id}" do
              %i.material-icons search
