.col.s12.m7
  .card.horizontal
    .card-image
      - if post.image.blank?
        = image_tag "sample"
      - else
        = image_tag "#{post.image}"
    .card-stacked
      .card-content
        %p= post.title
        %hr
        %p= post.body.truncate(50)
      .card-action
        %ul
          - if user_signed_in? && current_user.id == post.user_id
            %li
              = link_to "/posts/#{post.id}", method: :delete, remote: true do
                %i.material-icons delete_forever
            %li
              = link_to "/posts/#{post.id}/edit", remote: true do
                %i.material-icons mode_edit
          %li
            = link_to post_path(post), remote: true do
              %i.material-icons search
